# Python
__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.ruff_cache/
.coverage

# IDE
.idea/
.vscode/

# Environment
.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfplan

# OS
.DS_Store
Thumbs.db